[workspace]
resolver = "2"
members = ["interface", "pinocchio/interface", "pinocchio/program", "program", "clients/rust"]

[workspace.package]
authors = ["Anza Maintainers <maintainers@anza.xyz>"]
repository = "https://github.com/solana-program/token"
license = "Apache-2.0"
edition = "2021"

[workspace.lints.rust.unexpected_cfgs]
level = "warn"
check-cfg = [
    'cfg(target_os, values("solana"))',
    'cfg(feature, values("custom-alloc", "custom-panic", "frozen-abi", "no-entrypoint"))',
]

[workspace.metadata.cli]
solana = "3.0.0"

# Specify Rust toolchains for rustfmt, clippy, and build.
# Any unprovided toolchains default to stable.
[workspace.metadata.toolchains]
format = "nightly-2025-02-16"
lint = "nightly-2025-02-16"

[workspace.metadata.spellcheck]
config = "scripts/spellcheck.toml"

[workspace.metadata.release]
pre-release-commit-message = "Publish {{crate_name}} v{{version}}"
tag-message = "Publish {{crate_name}} v{{version}}"
consolidate-commits = false

[workspace.dependencies]
# generic
assert_matches = "1.5.0"
arrayref = "0.3.9"
ethnum = "1.5.2"
num-derive = "0.4"
num-traits = "0.2"
num_enum = "0.7.4"
strum = "0.27"
strum_macros = "0.27"
thiserror = "2.0"
proptest = "1.5"
serde = { version = "1.0" }
serde_with = { version = "^3.0" }
lazy_static = "1.5.0"
serial_test = "3.2.0"

# program  
bytemuck = "1.20.0"
borsh = "^0.10"
mollusk-svm = "0.8.0"
mollusk-svm-fuzz-fixture = "0.8.0"
pinocchio = "0.9.2"
pinocchio-pubkey = "0.3"
pinocchio-log = { version = "0.5.1" }

# sdk + svm
agave-feature-set = { git = "https://github.com/jupnet/jupnet-svm", branch = "v3.1.2" }
solana-account = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-account-info = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-clock = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-cpi = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-instruction = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-keypair = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-msg = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-native-token = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-entrypoint = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-error = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-memory = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-option = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-pack = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-test = { git = "https://github.com/jupnet/jupnet-svm", branch = "v3.1.2" }
solana-pubkey = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-rent = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-sdk-ids = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-signature = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-signer = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-system-interface = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-sysvar = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-transaction = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-transaction-error = { git = "https://github.com/jupnet/jupnet-sdk" }


[patch.crates-io]
jupnet-signature = { git = "https://github.com/jupnet/jupnet-sdk" }
jupnet-signer = { git = "https://github.com/jupnet/jupnet-sdk" }
