[workspace]
resolver = "2"
members = ["interface", "pinocchio/interface", "pinocchio/program", "program", "clients/rust"]

[workspace.package]
authors = ["Anza Maintainers <maintainers@anza.xyz>"]
repository = "https://github.com/solana-program/token"
license = "Apache-2.0"
edition = "2021"

[workspace.lints.rust.unexpected_cfgs]
level = "warn"
check-cfg = [
    'cfg(target_os, values("solana"))',
    'cfg(feature, values("custom-alloc", "custom-panic", "frozen-abi", "no-entrypoint"))',
]

[workspace.metadata.cli]
solana = "3.0.0"

# Specify Rust toolchains for rustfmt, clippy, and build.
# Any unprovided toolchains default to stable.
[workspace.metadata.toolchains]
format = "nightly-2025-02-16"
lint = "nightly-2025-02-16"

[workspace.metadata.spellcheck]
config = "scripts/spellcheck.toml"

[workspace.metadata.release]
pre-release-commit-message = "Publish {{crate_name}} v{{version}}"
tag-message = "Publish {{crate_name}} v{{version}}"
consolidate-commits = false

[workspace.dependencies]
mollusk-svm = "0.8.0"
mollusk-svm-fuzz-fixture = "0.8.0"
num-traits = "0.2"
pinocchio = "0.9.2"
solana-instruction = "3.1.0"
solana-program-error = "3.0.0"
solana-program-option = "3.0.0"
solana-program-pack = "3.0.0"
solana-pubkey = "4.0.0"
solana-system-interface = { version = "3.0.0", features=["bincode"] }
# five8_core = { version = "0.1.2", features = ["std"] }

[patch.crates-io]
agave-feature-set = { git = "https://github.com/jupnet/jupnet-svm", branch = "v3.1.2" }
solana-account = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-account-info = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-account-decoder = { git = "https://github.com/jupnet/jupnet-svm", branch = "v3.1.2" }
solana-address = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-client-traits = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-clock = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-cpi = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-hash = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-instruction = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-instruction-error = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-keypair = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-message = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-msg = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-native-token = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-entrypoint = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-error = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-memory = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-option = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-program-pack = { git = "https://github.com/jupnet/jupnet-sdk" }
# solana-program-test = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-pubkey = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-rent = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-sanitize = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-sdk-ids = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-signature = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-signer = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-svm-transaction = { git = "https://github.com/jupnet/jupnet-svm", branch = "v3.1.2" }
solana-system-interface = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-sysvar = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-sysvar-id = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-transaction-context = { git = "https://github.com/jupnet/jupnet-svm", branch = "v3.1.2" }
solana-transaction = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-transaction-error = { git = "https://github.com/jupnet/jupnet-sdk" }
solana-vote-interface = { git = "https://github.com/jupnet/jupnet-sdk" }
